* text=auto

*.sh text eol=lf
*.java text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.sql text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.7z binary
*.gif binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.rar binary
*.xlsx binary
*.zip binary
